<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>97995646243-l9lob9u4cc7r6rnr6uqs437ka02vm2bl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.97995646243-l9lob9u4cc7r6rnr6uqs437ka02vm2bl</string>
	<key>API_KEY</key>
	<string>AIzaSyCp5dZ8Rm3DG7wDvo8WNu8OCOTlstAMjmc</string>
	<key>GCM_SENDER_ID</key>
	<string>97995646243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Natthapat.lia.Clone-Instatgram</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-3f034</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-3f034.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97995646243:ios:5e8d4d3739307434135896</string>
</dict>
</plist>